<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div id="app"></div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    user : {
                        username : '',
                        userpassword : '',
                        log : false
                    }
                }
            },
            methods : {
            },
            provide : {
                statusLog : false
            },
            template : `
            <v-login v-model:listeningusername="user.username" v-model:listeninguserpassword="user.userpassword" :listeningstatus="user.log" v-if="!user.log"/>
            <v-loggeout v-model:listeningstatus="user.log" v-if="user.log"/>
            <p>{{user.username}}</p>
            `            
        })
        app.component("v-login",{
            data() {
                return {
                    status : this.listeningstatus
                }
            },
            methods : {
                inputusername(e) {
                    this.$emit("update:listeningusername",e.target.value)
                },
                inputuserpassword(e) {
                    this.$emit("update:listeninguserpassword",e.target.value)
                },
                toggleStatus()  {

                }
            },
            props : {
                'listeningusername' : String,
                'listeninguserpassword' : String,
                'listeningstatus' : Boolean
            },
            template : `
                <form class="container-form">
                    <label>Name</label>
                    <input type="text" :listeningusername="listeningusername" @input="inputusername"/>
                    <label>Password</label>
                    <input type="password" :listeninguserpassword="listeninguserpassword" @input="inputuserpassword"/>
                    <v-button v-if="!listeningstatus"/>
                </form>
            `
        })
        app.component("v-loggeout",{
            props : {
                listeningstatus : Boolean
            }
        })
        app.component("v-button",{
            data() {
                return {
                }
            },
            methods : {
                togglestatus(e) {
                    console.log('escuchando')
                    e.preventDefault();
                }
            },
            computed : {
                handleButton() {
                    return this.statusLog ? 'Logout' : 'Login'
                }
            },
            inject : ["statusLog"],
            template : `
                <button @click="togglestatus">{{handleButton}}</button>
            `
        })
        const vm = app.mount('#app');
    </script>
    <style>
        .container-form{
            display: flex;
            flex-direction: column;
        }
    </style>
</body>
</html>